# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.manifest

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Custom / Temp files
bb-man
bb-man/
MF_Mem.txt
MF_Mem/
MF_Mem*
env_test/
version.py

# Ambienti Virtuali e Dipendenze
.venv/
venv/
env/
ENV/
.env

# Strumenti di Test e Sviluppo
.pytest_cache/
.coverage
htmlcov/